<section class="welcome-section">
    <div class="welcome-container">
        <div class="nav-container">
            <button class="button" (click)="sendToHome($event)">
                <div class="button-box">
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                </div>
            </button>

            <h1 class="title-front">Despliegue de Base de Datos en AWS EC2 y MySQL 💪🔥</h1>
        </div>

        <p class="frontend-description">
            La configuración y gestión de bases de datos en AWS EC2 permite almacenar, consultar y administrar
            información
            de manera segura y eficiente en entornos de producción. Este proceso incluye la instalación del motor de
            base de datos,
            la creación y configuración de usuarios, la gestión de permisos y respaldos, así como la optimización del
            rendimiento
            para garantizar la disponibilidad y la integridad de los datos.
        </p>

        <div class="tech-cards-container">
            <app-card-tecnology title="MySQL"></app-card-tecnology>
            <app-card-tecnology title="PosgreSQL"></app-card-tecnology>
            <app-card-tecnology title="Cassandra"></app-card-tecnology>
            <app-card-tecnology title="NoSQL"></app-card-tecnology>
            <app-card-tecnology title="MongoDB"></app-card-tecnology>
        </div>
    </div>
</section>

<div class="code-examples-container">
    <h1 class="tip">Configuración de las Opciones de Seguridad</h1>
    <p class="subtitle-buenas-practicas-frontend">
        A continuación, vamos a ingresar a la terminal de <strong>MySQL Client</strong> o <strong>Server</strong> para configurar la seguridad de nuestra base de datos. 
        Para ello, necesitamos ser <strong>root</strong> y acceder a nuestra terminal de MySQL. 
        Ejecutaremos el siguiente comando:
    </p>

    <app-comand-copy comand="sudo mysql -u root -p"></app-comand-copy>

    <app-images imageSrc="blog/mysql/mysql22-despuesdesudo nano3.png" imageSrc2="blog/mysql/mysql22.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Una vez que hemos ingresado a la terminal, vamos a crear nuestra base de datos. 
        En mi caso, pondré <strong>ejemplo</strong>, pero ustedes deben usar el nombre correcto de su base de datos.
    </p>

    <app-comand-copy language="mysql" comand="CREATE DATABASE ejemplo;"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Una vez que hayamos creado nuestra base de datos, vamos a crear un usuario para poder acceder a ella. 
        Ejecutaremos el siguiente comando:
    </p>

    <app-comand-copy language="mysql" comand="CREATE USER 'usuario'@'%' IDENTIFIED BY 'contraseña-segura';"></app-comand-copy>

    <app-images imageSrc="blog/mysql/mysql23.png" imageSrc2="blog/mysql/mysql24.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a otorgar todos los privilegios del usuario recién creado sobre nuestra base de datos. 
        Esto permitirá que el usuario pueda realizar cualquier operación (crear, leer, actualizar y eliminar datos) dentro de la base de datos <strong>ejemplo</strong>.
    </p>

    <app-comand-copy language="mysql" comand="GRANT ALL PRIVILEGES ON ejemplo.* TO 'usuario'@'%';"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a actualizar los privilegios para que los cambios realizados, como la creación del usuario y la asignación de permisos, se apliquen inmediatamente. 
        Para ello, ejecutamos el siguiente comando:
    </p>

    <app-comand-copy language="mysql" comand="FLUSH PRIVILEGES;"></app-comand-copy>

    <app-images imageSrc="blog/mysql/mysql25.png" imageSrc2="blog/mysql/mysql26.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a salir de la terminal de MySQL, ya que hemos terminado de configurar los usuarios y privilegios. 
        Para ello, ejecutamos el siguiente comando:
    </p>

    <app-comand-copy language="mysql" comand="EXIT;"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora, únicamente regresamos a la terminal de nuestra instancia <strong>EC2</strong> para continuar con los siguientes pasos.
    </p>

    <app-images imageSrc="blog/mysql/mysql27.png" imageSrc2="blog/mysql/mysql36.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ve a la siguiente página para continuar con el despliegue.
    </p>
</div>

<div class="button-outer-container">
  <div class="button-container">
    <button class="learn-more-btn prev-btn" (click)="sendToDeployAWS($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-left"></span>
      </span>
      <span class="learn-more-text">Anterior</span>
    </button>
    
    <button class="learn-more-btn next-btn" (click)="sendToDeployAWS2($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-right"></span>
      </span>
      <span class="learn-more-text">Siguiente</span>
    </button>
  </div>
</div>

<app-tecnologias></app-tecnologias>