
<section class="contact-section" id="contact">
  <div class="contact-container">
    <div class="contact-left">
      <div class="contact-title-section">
        <h2 class="contact-title">Contáctame</h2>
      </div>

      <div class="contact-content">
        <p class="contact-description">
          ¿Interesado en trabajar juntos? Estoy disponible para oportunidades laborales, proyectos freelance o colaboraciones técnicas. ¡Escríbeme!
        </p>
        <p class="contact-passion">
          Apasionada por crear soluciones web innovadoras que combinan diseño y funcionalidad. Transformemos tus ideas en realidad digital.
        </p>
      </div>
    </div>
    
    <div class="profile-right">
      <app-profile-card></app-profile-card>
    </div>
  </div>

  <div class="contact-cards-container">
    <app-card-contact name="WhatsApp" url="https://wa.me/529613037813">
      <i class="fab fa-whatsapp"></i>
    </app-card-contact>

    <app-card-contact name="Facebook" url="https://www.facebook.com/ameth.toledo.2025/">
      <i class="fab fa-facebook"></i>
    </app-card-contact>

    <app-card-contact name="Gmail" url="mailto:correo@gmail.com">
      <i class="fas fa-envelope"></i>
    </app-card-contact>

    <app-card-contact name="GitHub" url="https://github.com/Ameth-Toledo">
      <i class="fab fa-github"></i>
    </app-card-contact>

    <app-card-contact name="LinkedIn" url="https://www.linkedin.com/in/ameth-de-jes%C3%BAs-m%C3%A9ndez-toledo/">
      <i class="fab fa-linkedin"></i>
    </app-card-contact>

    <app-card-contact name="Telegram" url="https://t.me/Ameth_Toledo">
      <i class="fab fa-telegram"></i>
    </app-card-contact>
  </div>
</section>