<section class="welcome-section">
    <div class="welcome-container">
        <div class="nav-container">
            <button class="button" (click)="sendToHome($event)">
                <div class="button-box">
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                </div>
            </button>

            <h1 class="title-front">Despliegue de BackEnd (Api Rest) en AWS EC2 💪🔥</h1>
        </div>

        <p class="frontend-description">
            El despliegue de un backend API REST desarrollado en Java con Javalin en un servidor AWS EC2 permite ofrecer
            servicios web escalables y eficientes en entornos de producción. Este proceso incluye la configuración del
            entorno de ejecución de Java, la instalación de dependencias necesarias, la exposición de endpoints REST,
            la gestión de puertos y variables de entorno, así como la optimización del rendimiento y la seguridad del
            servidor para garantizar una comunicación estable y confiable con las aplicaciones cliente.
        </p>

        <div class="tech-cards-container">
            <app-card-tecnology title="Java"></app-card-tecnology>
            <app-card-tecnology title="Javalin"></app-card-tecnology>
            <app-card-tecnology title="SpringBoot"></app-card-tecnology>
            <app-card-tecnology title="Micronaut"></app-card-tecnology>
            <app-card-tecnology title="Quarkus"></app-card-tecnology>
        </div>
    </div>
</section>

<div class="code-examples-container">
    <h1 class="tip">Instalación de git y clonación de proyecto</h1>
    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a ingresar a nuestra carpeta utilizando el comando <strong>cd &lt;nombre de la carpeta&gt;</strong>.
        Posteriormente, ejecutamos <strong>ls</strong> para listar los archivos contenidos en ella.
    </p>

    <app-images imageSrc="blog/javalin/javalin25.png" imageSrc2="blog/javalin/javalin26.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a crear nuestro archivo <strong>.env</strong> para agregar las variables de entorno necesarias.
        Para ello, ejecutamos el siguiente comando:
    </p>

    <app-comand-copy comand="sudo nano .env"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Regresamos a nuestro proyecto en <strong>Visual Studio Code</strong> y copiamos el contenido del archivo
        <strong>.env</strong>.
    </p>

    <app-images imageSrc="blog/javalin/javalin27.png" imageSrc2="blog/javalin/javalin28.png"></app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Regresamos a las instancias y copiamos la IP de la base de datos, o se la solicitamos a quien tenga acceso a la
        instancia para poder conectarnos.
        Una vez que tengamos la IP, regresamos a la consola.
    </p>

    <br>

    <p class="subtitle-buenas-practicas-frontend-izquierda">
        En <strong>HOST</strong> colocamos la IP de la base de datos.
    </p>

    <p class="subtitle-buenas-practicas-frontend-izquierda">
        En <strong>PORT</strong> dejamos el puerto <strong>3306</strong>.
    </p>

    <p class="subtitle-buenas-practicas-frontend-izquierda">
        En <strong>DB_NAME</strong> debemos escribir exactamente el nombre de la base de datos (en mi caso,
        <strong>ejemplo</strong>).
    </p>

    <p class="subtitle-buenas-practicas-frontend-izquierda">
        En <strong>DB_USER</strong> ingresamos el usuario creado con permisos para acceder a la base de datos, y
    </p>

    <p class="subtitle-buenas-practicas-frontend-izquierda">
        En <strong>DB_PASSWORD</strong> colocamos la contraseña asociada a dicho usuario.
    </p>

    <br>

    <p class="subtitle-buenas-practicas-frontend">
        En mi caso, el archivo <strong>.env</strong> quedó de la siguiente manera:
        Este archivo contiene todas las variables de entorno necesarias para que nuestra aplicación pueda conectarse
        correctamente a la base de datos y funcionar de manera óptima.
    </p>

    <app-comand-copy comand="HOST=50.17.245.12
        PORT=3306
        DB_NAME=ejemplo
        DB_USER=ameth
        DB_PASSWORD=Ameth2005">
    </app-comand-copy>

    <app-images imageSrc="blog/javalin/javalin29.png" imageSrc2="blog/javalin/javalin30.png"></app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ve a la siguiente página para continuar con el despliegue.
    </p>
</div>

<div class="button-outer-container">
    <div class="button-container">
        <button class="learn-more-btn prev-btn" (click)="sendToDeployAWS($event)">
            <span class="learn-more-circle" aria-hidden="true">
                <span class="learn-more-icon arrow-left"></span>
            </span>
            <span class="learn-more-text">Anterior</span>
        </button>

        <button class="learn-more-btn next-btn" (click)="sendToDeployAWS2($event)">
            <span class="learn-more-circle" aria-hidden="true">
                <span class="learn-more-icon arrow-right"></span>
            </span>
            <span class="learn-more-text">Siguiente</span>
        </button>
    </div>
</div>

<app-tecnologias></app-tecnologias>