<section class="welcome-section">
    <div class="welcome-container">
        <div class="nav-container">
            <button class="button" (click)="sendToHome($event)">
                <div class="button-box">
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                </div>
            </button>

            <h1 class="title-front">Despliegue de Base de Datos en AWS EC2 y MySQL 💪🔥</h1>
        </div>

        <p class="frontend-description">
            La configuración y gestión de bases de datos en AWS EC2 permite almacenar, consultar y administrar
            información
            de manera segura y eficiente en entornos de producción. Este proceso incluye la instalación del motor de
            base de datos,
            la creación y configuración de usuarios, la gestión de permisos y respaldos, así como la optimización del
            rendimiento
            para garantizar la disponibilidad y la integridad de los datos.
        </p>

        <div class="tech-cards-container">
            <app-card-tecnology title="MySQL"></app-card-tecnology>
            <app-card-tecnology title="PosgreSQL"></app-card-tecnology>
            <app-card-tecnology title="Cassandra"></app-card-tecnology>
            <app-card-tecnology title="NoSQL"></app-card-tecnology>
            <app-card-tecnology title="MongoDB"></app-card-tecnology>
        </div>
    </div>
</section>

<div class="code-examples-container">
    <h1 class="tip">Verificación de la Configuración de MySQL</h1>
    <p class="subtitle-buenas-practicas-frontend">
        A continuación, vamos a verificar la configuración. Para ello, copiamos nuestra <strong>IP</strong> y abrimos <strong>Workbench</strong> para crear una nueva conexión y comprobar que el acceso remoto funcione correctamente.
    </p>

    <app-images imageSrc="blog/mysql/mysql28.png" imageSrc2="blog/mysql/mysql29.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a dar clic en el ícono de <strong>+</strong>. Nos pedirá un nombre; aquí puede ser cualquier nombre, ya que es solo el nombre de la conexión. 
        En el campo <strong>Hostname</strong> pondremos la IP que copiamos de la instancia, y en <strong>Puerto</strong> dejamos el valor <strong>3306</strong>. 
        En <strong>Username</strong> ingresamos el usuario que creamos; en mi caso es <strong>ameth</strong>. 
        Una vez llenada la información, damos clic en <strong>OK</strong>. La conexión creada aparecerá en la lista de conexiones.
    </p>

    <app-images imageSrc="blog/mysql/mysql30.png" imageSrc2="blog/mysql/mysql31.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora damos doble clic sobre la conexión creada y nos aparecerá una ventana. Allí vamos a ingresar nuestra contraseña para el usuario creado. 
        Una vez que ingresamos la contraseña, damos clic en <strong>OK</strong> y esperamos a que la conexión se establezca.
    </p>

    <app-images imageSrc="blog/mysql/mysql32.png" imageSrc2="blog/mysql/mysql33.png">
    </app-images>   

    <p class="subtitle-buenas-practicas-frontend">
        Ahora ya podemos usar nuestra base de datos; en mi caso se llama <strong>ejemplo</strong>. 
        Ejecutaremos el siguiente comando para seleccionar la base de datos creada en la instancia:
    </p>

    <app-comand-copy language="mysql" comand="USE ejemplo;"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Si todo salió bien, debería haber aparecido el mensaje <strong>0 rows affected</strong>, indicando que no hubo errores. 
        Una vez confirmado que todo funcionó correctamente, ya podemos usar la base de datos libremente: crear tablas, editar o eliminar datos.
    </p>

    <app-comand-copy language="mysql" comand="CREATE TABLE user (
    id_user INT NOT NULL AUTO_INCREMENT,
    nombre VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    fecha_registro TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (id_user)
);
"></app-comand-copy>

    <app-images imageSrc="blog/mysql/mysql34.png" imageSrc2="blog/mysql/mysql35.png">
    </app-images>   

    <p class="subtitle-buenas-practicas-frontend">
        ¡Listo! Tu base de datos se ha creado y desplegado correctamente.  
        Si, a pesar de seguir estos pasos, no lograste desplegar tu base de datos, puedes contactarme a través de mis redes sociales:
        <app-redes-sociales></app-redes-sociales>
    </p>
</div>

<div class="button-outer-container">
  <div class="button-container">
    <button class="learn-more-btn prev-btn" (click)="sendToDeployAWS($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-left"></span>
      </span>
      <span class="learn-more-text">Anterior</span>
    </button>
  </div>
</div>

<app-tecnologias></app-tecnologias>