<div class="button-container">
  <div class="button-group">
    <button class="custom-button" (click)="sendToViewMore($event)">
      <span class="button-gradient"></span>
      <span class="button-inner">
        <div class="button-content">
          <span class="button-text">Ver mas ...</span>
          <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path>
          </svg>
        </div>
      </span>
    </button>
  </div>
</div>