<section class="main-section" id="home">
    <div class="main-section__left-content">
        <h2 class="main-section__name">
          <span class="name-line">¡Hola!</span>
          <span class="name-line">Soy Ameth Toledo</span>
        </h2>
        
        <p class="main-section__description">
          Soy desarrollador Frontend con experiencia en Angular, React y Vue, especializado principalmente en Angular. 
          Además, tengo conocimientos en lenguajes backend como Go, Java, TypeScript, JavaScript y Python, 
          así como en bases de datos relacionales como MySQL.
        </p>
        <div class="main-section__contact-info">
            <p class="main-section__contact-label">Contáctame <i class="fa-solid fa-hand-point-down"></i></p>
            <a href="mailto:shakerzest@gmail.com" class="main-section__email-link">shakerzest&#64;gmail.com</a>
        </div>
        <div class="main-section__buttons">
            <a href="#abouth-me" class="main-section__btn-primary">Más sobre mí</a>
            <a href="#contact" class="main-section__btn-secondary">Contáctame 👋</a>
        </div>
    </div>

    <div class="main-section__right-content">
        <div class="profile-container">
            <div class="profile-container__image-wrapper">
                <div class="profile-container__image">
                    <img src="perfilAI.png" alt="Foto de perfil" class="profile-container__photo">
                </div>
                <div class="profile-container__circular-badge">
                    <span class="profile-container__badge-content">🎯</span>
                </div>
                <div class="profile-container__certification-badge" (click)="openCertificate()">
                    <div class="profile-container__cert-icon">🏆</div>
                    <div>
                        <div class="profile-container__cert-text">Certificado por Coursera</div>
                        <div class="profile-container__cert-text">Profesional UI/UX</div>
                    </div>
                </div>
            </div>
            <div class="profile-container__stats-column">
                <div class="profile-container__stat-item">
                    <span class="profile-container__stat-number">2+</span>
                    <div class="profile-container__stat-label">Años<br>de Experiencia</div>
                </div>
                <div class="profile-container__stat-item">
                    <span class="profile-container__stat-number">99+</span>
                    <div class="profile-container__stat-label">Proyectos<br>Frontend</div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-tecnologias></app-tecnologias>