.card-tecnology {
  background-color: transparent;
  border: 3px solid #666;
  border-radius: 30px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; /* Esto centra la tarjeta horizontalmente */
}

.title-tecnology {
  color: #666;
  text-align: center;
  margin: 0;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .card-tecnology {
    width: 100px;
    height: 36px;
    border-radius: 25px;
    margin: 15px auto;
  }
  
  .title-tecnology {
    font-size: 0.9em;
    padding: 0 8px;
  }
}