<section class="welcome-section">
    <div class="welcome-container">
        <div class="nav-container">
            <button class="button" (click)="sendToHome($event)">
                <div class="button-box">
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                </div>
            </button>

            <h1 class="title-front">Despliegue de Base de Datos en AWS EC2 y MySQL 💪🔥</h1>
        </div>

        <p class="frontend-description">
            La configuración y gestión de bases de datos en AWS EC2 permite almacenar, consultar y administrar
            información
            de manera segura y eficiente en entornos de producción. Este proceso incluye la instalación del motor de
            base de datos,
            la creación y configuración de usuarios, la gestión de permisos y respaldos, así como la optimización del
            rendimiento
            para garantizar la disponibilidad y la integridad de los datos.
        </p>

        <div class="tech-cards-container">
            <app-card-tecnology title="MySQL"></app-card-tecnology>
            <app-card-tecnology title="PosgreSQL"></app-card-tecnology>
            <app-card-tecnology title="Cassandra"></app-card-tecnology>
            <app-card-tecnology title="NoSQL"></app-card-tecnology>
            <app-card-tecnology title="MongoDB"></app-card-tecnology>
        </div>
    </div>
</section>

<div class="code-examples-container">
    <h1 class="tip">Configuración de IP Elastica</h1>
    <p class="subtitle-buenas-practicas-frontend">
        A continuación, vamos a crear nuestra <strong>IP elástica</strong> para luego conectarnos a Workbench.
        En el menú del lado izquierdo nos dirigimos a la sección de <strong>Direcciones IP elásticas</strong>. 
        Ahí encontraremos todas las IP elásticas que hayamos creado. En mi caso, aparece una llamada 
        <strong>BD Ejemplo</strong>; a ustedes les aparecerá vacío. 
        Vamos a crear una nueva dirección IP haciendo clic en el botón 
        <strong>Asignar dirección IP elástica</strong>.
    </p>

    <app-images imageSrc="blog/mysql/mysql12.png" imageSrc2="blog/mysql/mysql13.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Se abrirá otra ventana; no modificamos nada, solo daremos clic en el botón <strong>Asignar</strong>. 
        Luego nos regresará a la vista donde se encuentran las <strong>IP elásticas</strong>.  
        Ahora vamos a asignarle un nombre para identificar la IP.  
        Una vez asignado el nombre, haremos clic en el botón verde que dice 
        <strong>Asociar esta dirección IP elástica</strong>.
    </p>

    <app-images imageSrc="blog/mysql/mysql14.png" imageSrc2="blog/mysql/mysql15.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Una vez que hagamos clic en el botón <strong>Asociar la dirección IP elástica</strong>, se abrirá otra ventana. 
        En la parte que dice <strong>Instancia</strong>, desplegaremos el menú y buscaremos nuestra instancia 
        donde instalamos <strong>MySQL</strong>.
    </p>

    <app-images imageSrc="blog/mysql/mysql16.png" imageSrc2="blog/mysql/mysql17.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Todo lo demás lo dejamos igual. Ahora sí, simplemente hacemos clic en el botón amarillo que dice <strong>Asociado</strong>. 
        Luego regresamos a la sección de <strong>Instancias</strong>. y la ip ahora ya cambio.
    </p>

    <app-images imageSrc="blog/mysql/mysql18.png" imageSrc2="blog/mysql/mysql19.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ve a la siguiente página para continuar con el despliegue.
    </p>
</div>

<div class="button-outer-container">
  <div class="button-container">
    <button class="learn-more-btn prev-btn" (click)="sendToDeployAWS($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-left"></span>
      </span>
      <span class="learn-more-text">Anterior</span>
    </button>
    
    <button class="learn-more-btn next-btn" (click)="sendToDeployAWS2($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-right"></span>
      </span>
      <span class="learn-more-text">Siguiente</span>
    </button>
  </div>
</div>

<app-tecnologias></app-tecnologias>