<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="logo.png" alt="Logo">
            </span>

            <div class="text logo-text">
                <span class="name">AC</span>
                <span class="profession">Web developer</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle' 
           [class.arrow-left]="!sidebarClosed" 
           [class.arrow-right]="sidebarClosed"
           (click)="toggleSidebar()"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Search...">
            </li>

            <ul class="menu-links">
                <li class="nav-link">
                    <a (click)="onInicio($event)">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Inicio</span>
                    </a>
                </li>
                
                <li class="nav-link">
                    <a (click)="onCursos($event)">
                        <i class='bx bx-book-alt icon'></i>
                        <span class="text nav-text">Cursos</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a (click)="onComents($event)">
                        <i class='bx bx-comment-detail icon'></i>
                        <span class="text nav-text">Comentarios</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a routerLink="/notificaciones">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">Notificaciones</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a (click)="onProfile($event)">
                        <i class='bx bx-user icon'></i>
                        <span class="text nav-text">Perfil</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a routerLink="/usuarios">
                        <i class='bx bx-group icon'></i>
                        <span class="text nav-text">Usuarios</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a routerLink="/donaciones">
                        <i class='bx bx-donate-heart icon'></i>
                        <span class="text nav-text">Donaciones</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">            
            <li class="">
                <a href="#" (click)="logout()">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>                
        </div>
    </div>
</nav>

<section class="home">
    <router-outlet></router-outlet>
</section>