<section class="welcome-section">
  <div class="welcome-container">
    <div class="nav-container">
      <button class="button" (click)="sendToDeployAWS($event)">
        <div class="button-box">
          <span class="button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
          <span class="button-elem">
            <svg viewBox="0 0 46 40">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
        </div>
      </button>

      <h1 class="title-front">Despliegue de aplicaciones frontend en AWS EC2 y Nginx 💪🔥</h1>
    </div>

    <p class="frontend-description">
        El despliegue de aplicaciones frontend en AWS EC2 con Nginx permite llevar proyectos a producción 
        con alto rendimiento y control total del entorno. Este proceso incluye la configuración del servidor, 
        la instalación de dependencias, la gestión del firewall o puertos, y el uso de Nginx como servidor web para 
        servir aplicaciones de forma eficiente y segura.
    </p>

    <div class="tech-cards-container">
      <app-card-tecnology title="Angular"></app-card-tecnology>
      <app-card-tecnology title="React"></app-card-tecnology>
      <app-card-tecnology title="Vue"></app-card-tecnology>
      <app-card-tecnology title="AWS"></app-card-tecnology>
      <app-card-tecnology title="Nginx"></app-card-tecnology> 
    </div>
  </div>
</section>

<div class="code-examples-container">
  <h1 class="tip">Instalación de Nginx</h1>
  <p class="subtitle-buenas-practicas-frontend">
    Vamos a instalar y configurar nginx para que nuestra aplicación web Front-End funcione perfectamente.

    <br><br>
    Seleccionamos nuestra instancia y damos click sobre el boton que dice <strong>Conectar</strong>, nos llevara a otra vista donde veremos nuetra IP y otras cosas, nos desplazaremos hacia abajo y damos click sobre el boton amarillo que dice conectar y esperamos.
  </p>

  <app-images 
    imageSrc="blog/aws/aws28.png" 
    imageSrc2="blog/aws/aws29.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Nos abrira la terminal
  </p>

  <app-images 
    imageSrc="blog/aws/aws30.png" 
    imageSrc2="blog/aws/aws31.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    En Origen vamos a seleccionar Anywhere y quedaria configurada el primer protocolo <strong>HTTP</strong>.
    <br>
    Ahora vamos a configurar el protocolo https, este protocolo corre en el puerto numero 443, hacemos el mismo proceso de configuración. 
  </p>

  <app-images 
    imageSrc="blog/aws/aws24.png" 
    imageSrc2="blog/aws/aws25.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Una ves de que ya hayamos abierto los puertos, daremos click en <strong>Guardar reglas</strong>. 
    <br>
    Nos mostrara el mensaje de exito una ves que hayamos guardado los cambios y ahora en la lista ya apareceran los puertos que configuramos.
  </p>

  <app-images 
    imageSrc="blog/aws/aws26.png" 
    imageSrc2="blog/aws/aws27.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Ve a la siguiente pagina para continuar con el despliegue.
  </p>
</div>

<div class="button-outer-container">
  <div class="button-container">
    <button class="learn-more-btn prev-btn" (click)="sendToDeployAWS($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-left"></span>
      </span>
      <span class="learn-more-text">Anterior</span>
    </button>
    
    <button class="learn-more-btn next-btn" (click)="sendToDeployAWS2($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-right"></span>
      </span>
      <span class="learn-more-text">Siguiente</span>
    </button>
  </div>
</div>

<app-tecnologias></app-tecnologias>