<section class="welcome-section">
  <div class="welcome-container">
    <div class="nav-container">
      <button class="button" (click)="sendToHome($event)">
        <div class="button-box">
          <span class="button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
          <span class="button-elem">
            <svg viewBox="0 0 46 40">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
        </div>
      </button>

      <h1 class="title-front">Despliegue de aplicaciones frontend en AWS EC2 y Nginx 💪🔥</h1>
    </div>

    <p class="frontend-description">
        El despliegue de aplicaciones frontend en AWS EC2 con Nginx permite llevar proyectos a producción 
        con alto rendimiento y control total del entorno. Este proceso incluye la configuración del servidor, 
        la instalación de dependencias, la gestión del firewall o puertos, y el uso de Nginx como servidor web para 
        servir aplicaciones de forma eficiente y segura.
    </p>

    <div class="tech-cards-container">
      <app-card-tecnology title="Angular"></app-card-tecnology>
      <app-card-tecnology title="React"></app-card-tecnology>
      <app-card-tecnology title="Vue"></app-card-tecnology>
      <app-card-tecnology title="AWS"></app-card-tecnology>
      <app-card-tecnology title="Nginx"></app-card-tecnology> 
    </div>
  </div>
</section>

<div class="code-examples-container">
  <h1 class="tip">Configuración de Nginx para despliegue</h1>
  <p class="subtitle-buenas-practicas-frontend">
    Ahora regresamos a nuestra consola de EC2 y nos iremos a la siguiente ruta <strong>/var/www/html/</strong> para ver el index.html de Nginx.
  </p>

  <app-comand-copy comand="cd /var/www/html/"></app-comand-copy>

  <p class="subtitle-buenas-practicas-frontend">
    Con <strong>ls</strong> vamos a ver el archivo <strong>index.nginx-debian.html</strong>, ese archivo lo vamos a borrar y será reemplazado por el index.html de nuestra app web, vamos a borrarlo, les dejo el comando:
  </p>

  <app-comand-copy comand="sudo rm -r index.nginx-debian.html"></app-comand-copy>
 
  <p class="subtitle-buenas-practicas-frontend">
    Luego regresamos a FileZilla y vamos a transferir nuestros archivos de la carpeta dist, para ello buscamos del lado izquierdo nuestra carpeta, y arrastramos solamente <strong>dist</strong> a la carpeta llamada <strong>ubuntu</strong> que está del lado derecho, ya nada más esperamos.
  </p>

  <app-images 
    imageSrc="blog/aws/aws39.png" 
    imageSrc2="blog/aws/aws40.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Nos regresamos a la consola de EC2 y ejecutamos <strong>ls</strong> para ver que esté la carpeta dist en el home.

    <br>Luego de que ya verificamos que sí está el directorio, vamos a entrar como super usuario para no tener que estar escribiendo sudo a cada rato, para ello ejecutamos el siguiente comando:
  </p>

  <app-comand-copy comand="sudo su"></app-comand-copy>

  <p class="subtitle-buenas-practicas-frontend">
    Ahora vamos a mover nuestros archivos a la carpeta /var/www/html, para ello primero entraremos a la carpeta dist y luego moveremos cada archivo y carpeta que tenga adentro con el siguiente comando:
  </p>

  <app-comand-copy comand="cp -R archivo.txt /var/www/html/"></app-comand-copy>

  <app-images 
    imageSrc="blog/aws/aws41.png" 
    imageSrc2="blog/aws/aws42.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Una vez que hayamos movido todos los archivos ya estaría listo para visualizarse en la web. Copiamos nuestra IP la pegamos en una nueva ventana y nos mostrará nuestra página web.
    <br><br>
    Ahora hay un problema, si recargamos la página web, nos dará error 404, esto se debe a que Nginx no está sirviendo en el HTML de nuestra web, Nginx no va a encontrar la ruta y va a mandar el error, vamos a solucionarlo en el siguiente paso.
  </p>

  <app-images 
    imageSrc="blog/aws/aws43.png" 
    imageSrc2="blog/aws/aws44.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend" id="config">
    Nos dirigiremos a la carpeta de configuración de Nginx (<code>sites-enabled</code>) que aquí es donde se encuentra nuestro servicio web.
    <br>
    Vamos a ejecutar el siguiente comando:
  </p>

  <app-comand-copy comand="cd /etc/nginx/sites-enabled/
    ls">
  </app-comand-copy>

  <p class="subtitle-buenas-practicas-frontend">
    Nos va a mandar a la configuración de sitios de Nginx, si ejecutamos <strong>ls</strong> vamos a encontrar un archivo llamado default, este archivo contiene el proxy para servir en index.
    Vamos a ejecutar el siguiente comando para editarlo:
  </p>

  <app-comand-copy comand="nano default"></app-comand-copy>

  <p class="subtitle-buenas-practicas-frontend">
    Nos desplazaremos hacia abajo hasta encontrar <strong>location</strong>, borramos esa parte de configuración y la reemplazamos por la siguiente información:
  </p>

  <app-comand-copy comand="location / {
    try_files @uri /index.html
  }"></app-comand-copy>

  <app-images 
    imageSrc="blog/aws/aws45.png" 
    imageSrc2="blog/aws/aws46.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Luego de hacer eso, guardamos el archivo con los nuevos cambios que realizamos y ejecutamos el comando <strong>exit</strong> y nos regresamos al home con <strong>cd</strong>
  </p>

  <app-comand-copy comand="exit
    cd">
  </app-comand-copy>

  <p class="subtitle-buenas-practicas-frontend">
    Ahora vamos a reiniciar el servicio de Nginx para aplicar correctamente los cambios, una vez reiniciado confirmamos que el servicio esté corriendo.
  </p>

  <app-comand-copy comand="sudo service nginx restart
    sudo service nginx status">
  </app-comand-copy>

  <app-images 
    imageSrc="blog/aws/aws47.png" 
    imageSrc2="blog/aws/aws48.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Ahora nos regresamos a la ventana en donde pegamos la IP y recargamos la página y ya nos debería mostrar correctamente nuestra web, sin error 404 y podemos irnos a cualquier ruta y va a funcionar.
  </p>

  <app-images 
    imageSrc="blog/aws/aws49.png" 
    imageSrc2="blog/aws/aws50.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Si por alguna razón les llegara a dar un <strong>error de servidor (error 500)</strong> volveremos a dirigirnos a la carpeta de configuración de Nginx regresaremos al paso de configuración del servicio web <a class="volver" (click)="scrollToConfig()">clic para volver</a>
    <br><br>
    Pero antes copia esto:
  </p>

  <app-comand-copy comand="location / {
    try_files $uri /index.html
    }">
  </app-comand-copy>

  <p class="subtitle-buenas-practicas-frontend">
    Se va a reemplazar el &#64; por el $ para algunos servicios sí funciona con el primer código, pero si falla tenemos que dejarlo con el signo de pesos. Una vez que hayas corregido esto y hecho los demás pasos, es muy importante volver a hacer todo y seguir los pasos para que funcione correctamente, si ya hiciste todo de nuevo y reiniciaste el servicio ya puedes volver a recargar tu IP y debería funcionar correctamente.
  </p>

  <app-images 
    imageSrc="blog/aws/aws51.png" 
    imageSrc2="blog/aws/aws52.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    ¡Listo! Tu frontend se ha creado y desplegado correctamente.  
    Si, a pesar de seguir estos pasos, no lograste desplegar tu frontend, puedes contactarme a través de mis redes sociales:
    <app-redes-sociales></app-redes-sociales>
  </p>
</div>

<div class="button-outer-container">
  <div class="button-container">
    <button class="learn-more-btn prev-btn" (click)="sendToDeployAWS($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-left"></span>
      </span>
      <span class="learn-more-text">Anterior</span>
    </button>
  </div>
</div>

<app-tecnologias></app-tecnologias>