<section class="abouth-me" id="abouth-me">
    <div class="abouth-container">
        <div class="abouth-left">
            <div class="title-section">
                <h2 class="abouth-title">About Me</h2>
                <img src="decorador.png" alt="journey plane" class="decorador">
            </div>

            <div class="content-section">
                <p class="abouth-description">
                    I'm Ameth Toledo, a passionate frontend and
                    junior fullstack developer with 2 years of experience. While I enjoy both
                    aspects of development, my true passion lies in frontend:
                    creating attractive, responsive and user-friendly interfaces.
                </p>

                <p class="abouth-passion">
                    I love transforming ideas into visually
                    appealing web experiences. I'm always learning, improving and pushing the
                    boundaries of what I can create with HTML, CSS, JavaScript and
                    modern frameworks like React.
                </p>

            </div>
        </div>

        <div class="abouth-right">
            <div class="profile-wrapper">
                <div class="profile-circle">
                    <img src="perfilAI.png" alt="Ameth Toledo" class="profile-photo">
                </div>
                <div class="profile-badge">
                    <span class="badge-title">FullStack Jr</span>
                    <span class="badge-subtitle">Developer</span>
                </div>
            </div>
        </div>
    </div>

    <div class="about-skills">
        <button class="skill-button">
            <img src="icons/angular.svg" alt="Angular" class="icon-skill">
            <span>Front-End Dev</span>
        </button>
        <button class="skill-button">
            <img src="icons/go.svg" alt="Backend" class="icon-skill">
            <span>Back-End Dev</span>
        </button>
        <button class="skill-button">
            <img src="icons/postman.svg" alt="Fullstack" class="icon-skill">
            <span>Full-Stack Dev</span>
        </button>
        <button class="skill-button">
            <img src="icons/figma.svg" alt="Design" class="icon-skill">
            <span>UI/UX Design</span>
        </button>
    </div>
</section>