<section class="abouth-me" id="abouth-me">
    <div class="abouth-container">
        <div class="abouth-left">
            <div class="title-section">
                <h2 class="abouth-title">Acerca de mi</h2>
                <img src="decorador.png" alt="avion travesia" class="decorador">
            </div>
            
            <div class="content-section">
                <p class="abouth-description">
                    Soy Ameth Toledo, un apasionado desarrollador frontend y 
                    fullstack júnior con 2 años de experiencia. Si bien disfruto de ambos 
                    aspectos del desarrollo, mi verdadera pasión reside en el frontend: 
                    crear interfaces atractivas, responsivas y fáciles de usar.
                </p>
                
                <p class="abouth-passion">
                    Me encanta transformar ideas en experiencias web visualmente 
                    atractivas. Siempre estoy aprendiendo, mejorando y ampliando los 
                    límites de lo que puedo crear con HTML, CSS, JavaScript y 
                    frameworks modernos como React.
                </p>
                
            </div>
        </div>
        
        <div class="abouth-right">
            <div class="profile-wrapper">
                <div class="profile-circle">
                    <img src="Ameth.png" alt="Ameth Toledo" class="profile-photo">
                </div>
                <div class="profile-badge">
                    <span class="badge-title">FullStack Jr</span>
                    <span class="badge-subtitle">Developer</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="about-skills">
    <button class="skill-button">
        <img src="icons/angular.svg" alt="Angular" class="icon-skill">
        <span>Front-End Dev</span>
    </button>
    <button class="skill-button">
        <img src="icons/go.svg" alt="Backend" class="icon-skill">
        <span>Back-End Dev</span>
    </button>
    <button class="skill-button">
        <img src="icons/postman.svg" alt="Fullstack" class="icon-skill">
        <span>Full-Stack Dev</span>
    </button>
    <button class="skill-button">
        <img src="icons/figma.svg" alt="Design" class="icon-skill">
        <span>UI/UX Design</span>
    </button>
</div>
</section>
