<section class="welcome-section">
    <div class="welcome-container">
        <div class="nav-container">
            <button class="button" (click)="sendToHome($event)">
                <div class="button-box">
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                </div>
            </button>

            <h1 class="title-front">Despliegue de Base de Datos en AWS EC2 y MySQL 💪🔥</h1>
        </div>

        <p class="frontend-description">
            La configuración y gestión de bases de datos en AWS EC2 permite almacenar, consultar y administrar
            información
            de manera segura y eficiente en entornos de producción. Este proceso incluye la instalación del motor de
            base de datos,
            la creación y configuración de usuarios, la gestión de permisos y respaldos, así como la optimización del
            rendimiento
            para garantizar la disponibilidad y la integridad de los datos.
        </p>

        <div class="tech-cards-container">
            <app-card-tecnology title="MySQL"></app-card-tecnology>
            <app-card-tecnology title="PosgreSQL"></app-card-tecnology>
            <app-card-tecnology title="Cassandra"></app-card-tecnology>
            <app-card-tecnology title="NoSQL"></app-card-tecnology>
            <app-card-tecnology title="MongoDB"></app-card-tecnology>
        </div>
    </div>
</section>

<div class="code-examples-container">
    <h1 class="tip">Configuración de MySQL para Acceso Remoto</h1>
    <p class="subtitle-buenas-practicas-frontend">
        A continuación, vamos a modificar el archivo <strong>.cnf</strong> de MySQL para permitir las conexiones desde cualquier host. 
        Para ello, ejecutaremos el siguiente comando:
    </p>

    <app-comand-copy comand="sudo nano /etc/mysql/mysql.conf.d/mysqld.cnf"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a desplazarnos hacia abajo hasta encontrar la línea <strong>bind-address</strong>. 
        Vamos a reemplazar el valor <strong>127.0.0.1</strong> por <strong>0.0.0.0</strong> para permitir conexiones desde cualquier IP.  
        De tal manera que debe quedar así:  
        <strong>bind-address = 0.0.0.0</strong>
    </p>

    <app-images imageSrc="blog/mysql/mysql20.png" imageSrc2="blog/mysql/mysql21.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a reiniciar el servicio de <strong>MySQL</strong> para que los cambios del host se apliquen correctamente. 
        Para ello, ejecutaremos el siguiente comando:
    </p>

    <app-comand-copy comand="sudo systemctl restart mysql"></app-comand-copy>
    
    <p class="subtitle-buenas-practicas-frontend">
        Verificamos que el servicio esté activo para evitar errores al momento de conectarnos con <strong>Workbench</strong>. 
        Para ello, ejecutaremos el siguiente comando:
    </p>

    <app-comand-copy comand="sudo systemctl status mysql"></app-comand-copy>

    <app-images imageSrc="blog/mysql/mysql22-despuesdesudo nano.png" imageSrc2="blog/mysql/mysql22-despuesdesudo nano2.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ve a la siguiente página para continuar con el despliegue.
    </p>
</div>

<div class="button-outer-container">
  <div class="button-container">
    <button class="learn-more-btn prev-btn" (click)="sendToDeployAWS($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-left"></span>
      </span>
      <span class="learn-more-text">Anterior</span>
    </button>
    
    <button class="learn-more-btn next-btn" (click)="sendToDeployAWS2($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-right"></span>
      </span>
      <span class="learn-more-text">Siguiente</span>
    </button>
  </div>
</div>

<app-tecnologias></app-tecnologias>