<div class="file-explorer">
  <h3>{{ rootName }}</h3>
  <ul class="tree">
    @for (item of structure; track item.name) {
      <li>
        <div 
          class="item" 
          [class.folder]="item.type === 'folder'"
          (click)="toggleFolder(item)"
        >
          <span class="icon">
            <i [class]="getIcon(item)"></i>
          </span>
          <span class="name">{{ item.name }}</span>
        </div>
        @if (item.type === 'folder' && item.expanded && item.children) {
          <app-estructura-directorios 
            [structure]="item.children"
            [rootName]="''"
          ></app-estructura-directorios>
        }
      </li>
    }
  </ul>
</div>