<section class="welcome-section">
    <div class="welcome-container">
        <div class="nav-container">
            <button class="button" (click)="sendToHome($event)">
                <div class="button-box">
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                    <span class="button-elem">
                        <svg viewBox="0 0 46 40">
                            <path
                                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                            </path>
                        </svg>
                    </span>
                </div>
            </button>

            <h1 class="title-front">Despliegue de BackEnd (Api Rest) en AWS EC2 💪🔥</h1>
        </div>

        <p class="frontend-description">
            El despliegue de un backend API REST desarrollado en Java con Javalin en un servidor AWS EC2 permite ofrecer
            servicios web escalables y eficientes en entornos de producción. Este proceso incluye la configuración del
            entorno de ejecución de Java, la instalación de dependencias necesarias, la exposición de endpoints REST,
            la gestión de puertos y variables de entorno, así como la optimización del rendimiento y la seguridad del
            servidor para garantizar una comunicación estable y confiable con las aplicaciones cliente.
        </p>

        <div class="tech-cards-container">
            <app-card-tecnology title="Java"></app-card-tecnology>
            <app-card-tecnology title="Javalin"></app-card-tecnology>
            <app-card-tecnology title="SpringBoot"></app-card-tecnology>
            <app-card-tecnology title="Micronaut"></app-card-tecnology>
            <app-card-tecnology title="Quarkus"></app-card-tecnology>
        </div>
    </div>
</section>

<div class="code-examples-container">
    <h1 class="tip">Creación de servicio para ejecución automatizada</h1>
    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a configurar el repositorio de <strong>NodeSource</strong> para preparar el entorno necesario.  
        Una vez completado este paso, procederemos a instalar <strong>Node.js</strong> ejecutando el siguiente comando:
    </p>

    <app-comand-copy comand="curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -"></app-comand-copy>
    <app-comand-copy comand="sudo apt install nodejs -y"></app-comand-copy>

    <app-images imageSrc="blog/javalin/javalin47.png" imageSrc2="blog/javalin/javalin48.png">
    </app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Una vez instalado <strong>Node.js</strong> y configurado el repositorio correctamente, verificaremos que la instalación se haya realizado con éxito.  
        Para ello, ejecutamos los siguientes comandos:
    </p>

    <app-comand-copy comand="node --version
    npm --version"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Una vez confirmada la instalación, procederemos a instalar <strong>PM2</strong>, un administrador de procesos que nos permitirá mantener la API ejecutándose de forma continua y automática, incluso después de un reinicio del servidor.  
        Le agregaremos el parámetro <strong>-g</strong> para que se instale de manera global en el sistema.  
        Ejecutamos el siguiente comando:
    </p>

    <app-comand-copy comand="sudo npm install -g pm2"></app-comand-copy>

    <app-images imageSrc="blog/javalin/javalin49.png" imageSrc2="blog/javalin/javalin50.png"></app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a crear un <strong>script</strong> que se encargará de ejecutar nuestra API utilizando el comando <strong>./gradlew run</strong>.  
        Este script será de tipo <strong>.sh</strong> (Bash), para que <strong>PM2</strong> pueda ejecutarlo sin inconvenientes ni errores.  
        Para crearlo, ejecutamos el siguiente comando:
    </p>

    <app-comand-copy comand="nano ~/start-api.sh"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Una vez dentro del editor de texto <strong>nano</strong>, escribimos el siguiente contenido:
    </p>

    <app-comand-copy comand="#!/bin/bash
    cd /home/ubuntu/api-users-javalin
    ./gradlew run"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        <strong>¡Importante!</strong>  
        En la línea que indica <strong>cd /home/ubuntu/api-users-javalin</strong>, es fundamental asegurarse de que la ruta sea exactamente la misma donde se encuentra alojada tu API.  
        Si la ruta no es correcta, el proceso de automatización no funcionará correctamente y <strong>PM2</strong> no podrá ejecutar la aplicación.
    </p>

    <app-images imageSrc="blog/javalin/javalin51.png" imageSrc2="blog/javalin/javalin52.png"></app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora, para que <strong>PM2</strong> pueda ejecutar el script correctamente, es necesario asignarle permisos de ejecución.  
        Esto permitirá que el sistema reconozca el archivo como un programa ejecutable.  
        Para hacerlo, ejecutamos el siguiente comando:
    </p>

    <app-comand-copy comand="chmod +x ~/start-api.sh"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Una vez ejecutado el comando, procederemos a verificar que los permisos se hayan asignado correctamente.  
        El archivo debe mostrar la letra <strong>x</strong> en los permisos del usuario propietario, del grupo y de otros, lo que indica que tiene permisos de ejecución.  
        Esto garantiza que <strong>PM2</strong> pueda ejecutar el script sin inconvenientes.  
        Para verificar los permisos, ejecutamos el siguiente comando:
    </p>

    <app-comand-copy comand="ls -l ~/start-api.sh"></app-comand-copy>

    <app-images imageSrc="blog/javalin/javalin53.png" imageSrc2="blog/javalin/javalin54.png"></app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a iniciar la API utilizando el servicio <strong>PM2</strong>, para posteriormente aplicar la configuración de inicio automático.  
        En el parámetro <strong>--name</strong> deben colocar el nombre de su API o cualquier nombre identificativo; de preferencia uno relacionado con la API para facilitar su reconocimiento.  
        En mi caso, lo llamaré <strong>api-usuarios</strong>. Para ello, ejecutaremos el siguiente comando:
    </p>

    <app-comand-copy comand="pm2 start ~/start-api.sh --name api-usuarios"></app-comand-copy>

    <app-images imageSrc="blog/javalin/javalin55.png" imageSrc2="blog/javalin/javalin56.png"></app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a generar nuestro script de inicio automático.  
        Al ejecutar este comando, se nos mostrará un <strong>PATH</strong>, el cual será utilizado para la ejecución automática del script con <strong>PM2</strong>.  
        Para ello, ejecutamos el siguiente comando:
    </p>

    <app-comand-copy comand="pm2 startup"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora vamos a guardar la configuración actual del <strong>PATH</strong> para que <strong>PM2</strong> pueda ejecutar correctamente nuestra API de forma automática.  
        Para ello, ejecutamos el siguiente comando:
    </p>

    <app-comand-copy comand="pm2 save"></app-comand-copy>

    <app-images imageSrc="blog/javalin/javalin57.png" imageSrc2="blog/javalin/javalin58.png"></app-images>

    <p class="subtitle-buenas-practicas-frontend">
        ¡Listo! Ahora nos queda revisar el estado del servicio para verificar que la configuración haya funcionado correctamente.  
        Al mostrar el estado, debería aparecer el nombre asignado al servicio; en mi caso es <strong>api-usuarios</strong>.  
        Además, en el campo <strong>status</strong> debe aparecer <strong>online</strong>, indicando que la API se está ejecutando correctamente.  
        Para ello, ejecutamos el siguiente comando:
    </p>

    <app-comand-copy comand="pm2 status"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Una vez confirmado que el <strong>status</strong> esté <strong>online</strong>, ahora vamos a revisar los logs para verificar que la API se haya conectado correctamente con la base de datos y que no existan errores de ejecución.  
        Para ello, ejecutamos el siguiente comando, reemplazando <strong>api-usuarios</strong> por el nombre que asignaron a su servicio; en mi caso, el nombre es <strong>api-usuarios</strong>:
    </p>

    <app-comand-copy comand="pm2 logs api-usuarios"></app-comand-copy>

    <p class="subtitle-buenas-practicas-frontend">
        Una vez ejecutado el comando, debería mostrarse un mensaje de éxito indicando que el servidor está corriendo correctamente o que la conexión con la base de datos se realizó exitosamente.  
        El contenido exacto dependerá de los logs que hayan configurado en su código.
    </p>

    <app-images imageSrc="blog/javalin/javalin59.png" imageSrc2="blog/javalin/javalin60.png"></app-images>

    <p class="subtitle-buenas-practicas-frontend">
        Ahora solo queda probar la API, ya sea en <strong>Postman</strong> o en <strong>Insomnia</strong>. En mi caso, lo haré en Postman.  
        Simplemente copiamos la IP del servidor donde se encuentra la API y verificamos los métodos HTTP: <strong>POST</strong>, <strong>GET</strong>, <strong>PUT</strong> y <strong>DELETE</strong>.  
        En mi caso, probé los cuatro métodos y todos funcionaron correctamente. Esto indica que el despliegue de la API junto con el servicio de <strong>PM2</strong> funcionó exitosamente.  
        De esta manera, ya no será necesario iniciar la API manualmente; cada vez que se encienda la instancia, la API se ejecutará automáticamente.
    </p>

    <app-images imageSrc="blog/javalin/javalin61.png" imageSrc2="blog/javalin/javalin62.png"></app-images>
    <app-images imageSrc="blog/javalin/javalin63.png" imageSrc2="blog/javalin/javalin64.png"></app-images>

    <p class="subtitle-buenas-practicas-frontend">
        ¡Listo! Tu backend se ha creado y desplegado correctamente.  
        Si, a pesar de seguir estos pasos, no lograste desplegar tu backend, puedes contactarme a través de mis redes sociales:
        <app-redes-sociales></app-redes-sociales>
    </p>
</div>

<div class="button-outer-container">
    <div class="button-container">
        <button class="learn-more-btn prev-btn" (click)="sendToDeployAWS($event)">
            <span class="learn-more-circle" aria-hidden="true">
                <span class="learn-more-icon arrow-left"></span>
            </span>
            <span class="learn-more-text">Anterior</span>
        </button>
    </div>
</div>

<app-tecnologias></app-tecnologias>