<section class="welcome-section">
  <div class="welcome-container">
    <div class="nav-container">
      <button class="button" (click)="sendToHome($event)">
        <div class="button-box">
          <span class="button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
          <span class="button-elem">
            <svg viewBox="0 0 46 40">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
        </div>
      </button>

      <h1 class="title-front">Despliegue de aplicaciones frontend en AWS EC2 y Nginx 💪🔥</h1>
    </div>

    <p class="frontend-description">
        El despliegue de aplicaciones frontend en AWS EC2 con Nginx permite llevar proyectos a producción 
        con alto rendimiento y control total del entorno. Este proceso incluye la configuración del servidor, 
        la instalación de dependencias, la gestión del firewall o puertos, y el uso de Nginx como servidor web para 
        servir aplicaciones de forma eficiente y segura.
    </p>

    <div class="tech-cards-container">
      <app-card-tecnology title="Angular"></app-card-tecnology>
      <app-card-tecnology title="React"></app-card-tecnology>
      <app-card-tecnology title="Vue"></app-card-tecnology>
      <app-card-tecnology title="AWS"></app-card-tecnology>
      <app-card-tecnology title="Nginx"></app-card-tecnology> 
    </div>
  </div>
</section>

<div class="code-examples-container">
  <h1 class="tip">Asociación de IP elástica</h1>
  <p class="subtitle-buenas-practicas-frontend">
    Vamos a crear y asociar una dirección IP elástica a nuestra instancia que hemos creado, para ello nos vamos al menú izquierdo y nos dirigimos a la sección de <strong>Red y Seguridad</strong> y seleccionamos <strong>Direcciones IP elásticas</strong>
    nos mostrará diferentes opciones, vamos a dar clic sobre el botón amarillo que dice Asignar dirección IP elástica, nos va a abrir otra vista, aquí no movemos nada simplemente daremos clic en asignar y listo.
  </p>

  <app-images 
    imageSrc="blog/aws/aws13.png" 
    imageSrc2="blog/aws/aws14.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Nos mandará el mensaje de éxito, si quieren pueden ponerle un nombre o dejarlo así como está, en mi caso le pondré Front-End para identificarlo.
  </p>

  <app-images 
    imageSrc="blog/aws/aws15.png" 
    imageSrc2="blog/aws/aws16.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Ahora vamos a dar clic sobre el botón Asociar esta dirección IP elástica, nos mandará a otra vista, nos desplazamos hacia abajo y buscamos la sección de instancia. Aquí vamos a seleccionar nuestra instancia que creamos, desplegamos la lista de instancias
    y buscamos la nuestra, en mi caso es la de <strong>Front-End</strong>, la seleccionamos y damos clic sobre el botón amarillo que dice Asociar.
  </p>

  <app-images 
    imageSrc="blog/aws/aws17.png" 
    imageSrc2="blog/aws/aws18.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Nos regresamos a la sección de instancias, veremos que la dirección IP de nuestra instancia ha cambiado y ahora ya no cambiará, la IP siempre será la misma.
  </p>

  <app-images 
    imageSrc="blog/aws/aws12.png" 
    imageSrc2="blog/aws/aws19.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Ve a la siguiente página para continuar con el despliegue.
  </p>
</div>

<div class="button-outer-container">
  <div class="button-container">
    <button class="learn-more-btn prev-btn" (click)="sendToDeployAWS($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-left"></span>
      </span>
      <span class="learn-more-text">Anterior</span>
    </button>
    
    <button class="learn-more-btn next-btn" (click)="sendToDeployAWS2($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-right"></span>
      </span>
      <span class="learn-more-text">Siguiente</span>
    </button>
  </div>
</div>

<app-tecnologias></app-tecnologias>