<div class="card" (click)="navegarAModulos()" style="cursor: pointer;">
  <div class="main-content">
    <div class="header">
      <span class="fecha">Agregado el {{fecha}}</span>
    </div>
    <img [src]="imagen" alt="{{nombre}}" class="curso-imagen">
    <p class="heading">{{nombre}}</p>
    <p class="description">{{descripcion}}</p>
    <div class="categories">
      <span class="tech">{{tecnologia}}</span>
      <span class="level">{{nivel}}</span>
      <span class="duration">{{duracion}}</span>
    </div>
  </div>
</div>