<div class="code-editor-container">
  <div class="editor-header">
    <div class="window-controls">
      <span class="control close"></span>
      <span class="control minimize"></span>
      <span class="control maximize"></span>
    </div>
    <span class="file-name">{{ filename }}</span>
    <img src="{{ tecnologyImg }}" alt="tecnologia" class="tecnology">
  </div>
  
  <div class="editor-body">
    <div class="line-numbers">
      @for (line of lineNumbers; track line) {
        <div class="line-number">{{ line }}</div>
      }
    </div>
    <pre class="code-block"><code class="language-{{language}}" [innerHTML]="displayedCode"></code></pre>
  </div>
</div>