/* You can add global styles to this file, and also import other style files */
@import url('//fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #00d4aa;
  border-radius: 10px;
  border: 3px solid #000000;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #00d4aa #000000;
}
