<section class="welcome-section">
  <div class="welcome-container">
    <div class="nav-container">
      <button class="button" (click)="sendToHome($event)">
        <div class="button-box">
          <span class="button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
          <span class="button-elem">
            <svg viewBox="0 0 46 40">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
        </div>
      </button>

      <h1 class="title-front">Despliegue de aplicaciones frontend en AWS EC2 y Nginx 💪🔥</h1>
    </div>

    <p class="frontend-description">
        El despliegue de aplicaciones frontend en AWS EC2 con Nginx permite llevar proyectos a producción 
        con alto rendimiento y control total del entorno. Este proceso incluye la configuración del servidor, 
        la instalación de dependencias, la gestión del firewall o puertos, y el uso de Nginx como servidor web para 
        servir aplicaciones de forma eficiente y segura.
    </p>

    <div class="tech-cards-container">
      <app-card-tecnology title="Angular"></app-card-tecnology>
      <app-card-tecnology title="React"></app-card-tecnology>
      <app-card-tecnology title="Vue"></app-card-tecnology>
      <app-card-tecnology title="AWS"></app-card-tecnology>
      <app-card-tecnology title="Nginx"></app-card-tecnology> 
    </div>
  </div>
</section>

<div class="code-examples-container">
  <h1 class="tip">Configuración de puertos</h1>
  <p class="subtitle-buenas-practicas-frontend">
    Vamos a gestionar los grupos de seguridad para poder habilitar los puertos correspondientes, que en este caso para despliegue de front solo son 3 (SSH, HTTP, HTTPS).

    <br><br>
    Seleccionamos nuestra instancia y en la parte de abajo nos aparecerán varias opciones, buscamos la opción que dice <strong>Seguridad</strong>, nos desplazamos hacia abajo y encontraremos la sección de <strong>Grupos de seguridad</strong>, damos clic sobre el enlace y nos 
    abrirá otra vista en donde veremos los puertos abiertos, por defecto solo estará abierto el de SSH.
  </p>

  <app-images 
    imageSrc="blog/aws/aws20.png" 
    imageSrc2="blog/aws/aws21.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Ahora vamos a dar clic sobre la opción de <strong>Editar reglas de entrada</strong>, nos va a abrir otra vista en donde nos dará la opción de agregar más puertos con su origen correspondiente que en este caso manejaremos el origen <strong style="color: #40a9da;">0.0.0.0/0</strong>.
    <br><br>
    Damos clic en <strong>Agregar regla</strong> y buscamos el protocolo, primero vamos a configurar el de HTTP, el número de puerto es el 80.
  </p>

  <app-images 
    imageSrc="blog/aws/aws22.png" 
    imageSrc2="blog/aws/aws23.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    En Origen vamos a seleccionar Anywhere y quedaría configurado el primer protocolo <strong>HTTP</strong>.
    <br>
    Ahora vamos a configurar el protocolo HTTPS, este protocolo corre en el puerto número 443, hacemos el mismo proceso de configuración. 
  </p>

  <app-images 
    imageSrc="blog/aws/aws24.png" 
    imageSrc2="blog/aws/aws25.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Una vez que ya hayamos abierto los puertos, daremos clic en <strong>Guardar reglas</strong>. 
    <br>
    Nos mostrará el mensaje de éxito una vez que hayamos guardado los cambios y ahora en la lista ya aparecerán los puertos que configuramos.
  </p>

  <app-images 
    imageSrc="blog/aws/aws26.png" 
    imageSrc2="blog/aws/aws27.png">
  </app-images>

  <p class="subtitle-buenas-practicas-frontend">
    Ve a la siguiente página para continuar con el despliegue.
  </p>
</div>

<div class="button-outer-container">
  <div class="button-container">
    <button class="learn-more-btn prev-btn" (click)="sendToDeployAWS($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-left"></span>
      </span>
      <span class="learn-more-text">Anterior</span>
    </button>
    
    <button class="learn-more-btn next-btn" (click)="sendToDeployAWS2($event)">
      <span class="learn-more-circle" aria-hidden="true">
        <span class="learn-more-icon arrow-right"></span>
      </span>
      <span class="learn-more-text">Siguiente</span>
    </button>
  </div>
</div>

<app-tecnologias></app-tecnologias>